header {
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
}

.logo {
    height: 60px;
    width: 142px;
    display: block;
    background: url(../images/logo.png) no-repeat;
    margin-left: 20px;
}
