*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.wrapper {
    flex: 1;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 30px 0 30px 0;
    display: inline-block;
    width: 100%;
}
