.filters {
  height: 70px;
  width: 100%;
  border: 1px #DDD solid;
  border-radius: 4px;
  padding: 10px 0;
  display: inline-block;
}

.locations {
  border-right: 1px #DDD solid;
  width: 25%;
  height: 100%;
  float: left;
  text-align: left;
  padding-left: 50px;
  word-wrap: break-word;
}

.amenities {
  width: 25%;
  height: 100%;
  float: left;
  text-align: left;
  padding-left: 50px;
  display: inline-block;
  word-wrap: break-word;
}

div h3 {
  font-weight: 600;
  margin: 0;
  padding-bottom: 5px;
}

div h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.search {
  background-color: #FF5A5F;
  height: 48px;
  width: 20%;
  float: right;
  margin-right: 30px;
  border-radius: 4px;
  border: 1px #DDD;
  font-size: 16px;
  color: white;
}

button:hover {
  opacity: 0.9;
}
